<div class="container">
  <h2>Add New Entry</h2>
    <div class="form-group">
      <label for="name">Name*</label>
      <input type="text" class="form-control" [(ngModel)]="currentEntry.name" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number*</label>
      <input type="text" pattern="[0-9]{12}"  class="form-control" id="phoneNumber" [(ngModel)]="currentEntry.phoneNumber" placeholder="Enter phone number">
    </div>
    <button (click)="addEntry()" class="btn btn-primary" [disabled]="currentEntry.name === undefined || currentEntry.phoneNumber === undefined">Add</button>
</div>